@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #14B8A6;
  --color-secondary: #4F46E5;
  --color-darkbg: #0F172A;
}

*{
    font-family: "Inter", sans-serif;
}